<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SAKit</key>
	<string>SAKitViewController</string>
	<key>AliPay</key>
	<string>DMPayViewController</string>
	<key>Calendar</key>
	<string>CalendarViewController</string>
	<key>MultiMaskViewType</key>
	<string>MultiMaskViewController</string>
	<key>UICollectionViewType</key>
	<string>MultipleCollectionViewController</string>
	<key>UIKeyAnimationType</key>
	<string>AnimationViewController</string>
</dict>
</plist>
